
/* #region css pour la table */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  box-sizing: border-box;
}

body > div {
  /* lo quite porque genera problemas en esta parte*/
  /*min-height: 90vh;*/
  display: flex;
  font-family: "Roboto", sans-serif;
}

.table_responsive {
  max-width: 1200px;

  border: 1px solid #ffce00;
  background-color: #eee;
  padding: 1px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;

}


table {
  width: 100%;
  font-size: 16px;
  color: #444;
  border-collapse: collapse;

  /* white-space: nowrap;     esto es para no pasar a la linea*/

  /* text-align: center;      esto es para centrar los textos*/
}

table > thead {
  background-color: #ffce00;
  color: #fff;
  /* height: 50px; */
  height: 3rem;

  padding: 20px 50px;
  font-size: 1.3rem;
  /* cursor: pointer; */
  border: 0px;
  
  position: relative;
  transition: all .2s;
  color: #252222;
  border-radius: 30px;
  
}

table > thead th {
  padding: 1px;
}

table th,
table td {
  /*border: 1px solid #00000017;*/
  border: none;
  padding: 10px 10px;
}

/*
    table {
        border-collapse: collapse;
    }
    
    td, th {
        border: none;
    }
    */

table > tbody > tr > td > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

@media screen and (min-width: 600px) {
  .pl_reponsive {
    display: none;
  }

  .tech_select_tirage {
    width: 10rem;

    background-color: #eeeeee;
    color: #000;
    border-radius: 10px;
    border-color: orange;
    
    font-size: 1.1rem;
    cursor: pointer;
  
   
  
    /* este codigo es para pasar a la linea  */
    overflow: hidden; /* les dépassements seront masqués */
    word-wrap: break-word;
    /* Autres styles modernes */
  }
}

@media screen and (max-width: 600px) {
  /* Styles appliqués lorsque la largeur de l'écran est inférieure ou égale à 600px*/
  .primera_col {
    display: none;
  }
  table th:nth-child(2) {
    display: none;
  }
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn > a {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.action_btn > a:nth-child(1) {
  border-color: #ffce00;
}

.action_btn > a:nth-child(2) {
  border-color: orange;
}

.action_btn > a:hover {
  box-shadow: 0 3px 8px #0003;
}

table > tbody > tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table > tbody > tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table > tbody > tr:hover {
  filter: drop-shadow(0px 5px 8px rgba(23, 13, 170, 0.133));
  /*background-color: rgb(90, 88, 102);
        color: #fff;
        filter: drop-shadow(0px 2px 6px #0002);*/
}

/* #endregion */

/* #region css pour les check*/

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #464547;
  border-radius: 0.2em;
  display: inline-block;

  /*width: 2em;
    height: 2em;*/
  width: 25px;
  height: 25px;

  padding-left: 0em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}


input[type="checkbox"]:checked + label:before {
  background-color: #ffce00;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/* #endregion */

/* #region css bouton */

.btn-TechSection {
  text-align: center;
}

.btn_tech01 {
  top: 10px;
  margin: 10px;
  background: #ffce00;

  padding: 20px 35px;
  font-size: 1.3rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #252222;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}

  .btn_tech01::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg,#ffce00 0%, #ffcc00de 50%, #073318 100%);
    z-index: -1;
    transition: all .5s;
    
    background: #ffce00;
  }

  .btn_tech01:hover::after {
    transform: rotate(150deg);

  }

  .btn_tech01:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
  }

/* #endregion */


/* #region selecteur */
  


@media screen and (min-width: 600px) {
  #tech_select_tirage {  
    background-color: #eeeeee;
    color: #000;
    border-radius: 10px;
    border-color: orange;
    
    font-size: 1.1rem;
    cursor: pointer;
    
    width: 40rem;
    /* DESKTOP este codigo es para pasar a la linea  */
    overflow: hidden; /* les dépassements seront masqués */
    word-wrap: break-word;
    /* Autres styles modernes */
  }
}

@media screen and (max-width: 600px) {
  /* MOBILE Styles appliqués lorsque la largeur de l'écran est inférieure ou égale à 600px*/
  #tech_select_tirage {
  
    background-color: #eeeeee;
    color: #000;
    border-radius: 10px;
    border-color: orange;
    
    font-size: 1.1rem;
    cursor: pointer;
    
    width: 22rem;
    /* este codigo es para pasar a la linea  */
    overflow: hidden; /* les dépassements seront masqués */
    word-wrap: break-word;
    /* Autres styles modernes */
  }
}

/* #endregion */
